!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    li cid: #{category.cid}
    li gid: #{category.gid}
    li aid: #{category.aid}
    li guardian: #{category.guardian}
    li name: #{category.name}