!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    li cid: #{category.cid}
    li guardian: #{category.guardian}
    li name: #{category.name}
    li description: #{category.description}